In [1]:
import numpy as np
import pandas as pd

In [97]:
df= pd.read_csv('new.csv')

In [98]:
df.corr()

                           No. of FTE Request Raised
No. of FTE Request Raised                        1.0

In [99]:
df.head()

,Month DD Raised,No. of FTE Request Raised,SkillList,Location,Experience Grade,Practice,Skill Group,Demand Source
0,May,4,Salesforce (Functional),Bangalore,A4,BANK,(F) IT Operations,Account
1,October,2,"Amazon Web services - Build , Administration a...",Bhubaneswar,B2,M&FT,(F) IT Operations,Account
2,March,2,"Amazon Web services - Build , Administration a...",Pune,A3,TEST,NaN,Support
3,October,1,Test Automation,Bhubaneswar,B2,M&FT,(F) IT Operations,Account
4,June,2,PMO (Account),Noida,A5,I&D,(D) Banking Sector,Proactive

In [100]:
df.describe()

       No. of FTE Request Raised
count                1023.000000
mean                    2.482893
std                     1.118012
min                     1.000000
25%                     2.000000
50%                     2.000000
75%                     4.000000
max                     4.000000

In [101]:
df.columns = ['Month', 'Requests', 'Skill', 'Location', 'Exp' , 'Practice' , 'SkillGroup', 'Demand']

In [102]:
df.head()

,Month,Requests,Skill,Location,Exp,Practice,SkillGroup,Demand
0,May,4,Salesforce (Functional),Bangalore,A4,BANK,(F) IT Operations,Account
1,October,2,"Amazon Web services - Build , Administration a...",Bhubaneswar,B2,M&FT,(F) IT Operations,Account
2,March,2,"Amazon Web services - Build , Administration a...",Pune,A3,TEST,NaN,Support
3,October,1,Test Automation,Bhubaneswar,B2,M&FT,(F) IT Operations,Account
4,June,2,PMO (Account),Noida,A5,I&D,(D) Banking Sector,Proactive

In [103]:
df.nunique()

Month           8
Requests        4
Skill         222
Location        8
Exp             8
Practice       11
SkillGroup     52
Demand          3
dtype: int64

In [104]:
df['Month'].unique()
months = {'May':5, 'October':10, 'March':3, 'June':6, 'August':8, 'February':2, 'January':1,
       'December':12}

In [105]:
df.Month = df.Month.map(months)

In [106]:
df.sort_values('Month', inplace=True)

In [107]:
df.head()

,Month,Requests,Skill,Location,Exp,Practice,SkillGroup,Demand
409,1,2,Testing Manual,Chennai,A1,DCX,(T) Microsoft Development Technologies,Proactive
356,1,4,"Selenium,Test Automation,Cucumber, Behat,Java 7",Chennai,A1,DCX,(T) Guidewire,Account
166,1,4,CRM - Salesforce.com,Chennai,A1,DCX,(T) Mainframe Development Technologies,Proactive
500,1,1,Teradata,Chennai,A1,DCX,(F) IT Consulting,Proactive
909,1,1,"Amazon Web services - Build , Administration a...",Chennai,A1,DCX,(T) Web Development Technologies,Proactive

In [108]:

df.Month = df.Month.astype(str)

In [109]:
df.isnull().values.any()

True

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1023 entries, 409 to 543
Data columns (total 8 columns):
Month         1023 non-null object
Requests      1023 non-null int64
Skill         1023 non-null object
Location      1023 non-null object
Exp           1023 non-null object
Practice      1023 non-null object
SkillGroup    981 non-null object
Demand        1023 non-null object
dtypes: int64(1), object(7)
memory usage: 71.9+ KB

In [111]:
df.loc[df['SkillGroup'].isnull() , 'SkillGroup'] = 'Undefined'

In [112]:
y = np.array(df['Requests'])
y.shape

(1023,)

In [89]:
df_X = df.drop(columns='Requests', axis=1)

In [90]:
df_new = pd.get_dummies(df_X)

In [91]:
df_new.shape

(1023, 313)

In [113]:
eda = pd.concat(df_new, df['Requests'])
eda.corr()

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(np.array(df_new), y , test_size = 0.05)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((971, 313), (52, 313), (971,), (52,))

In [93]:
import keras
from keras.layers import BatchNormalization
from keras.layers.core import Flatten,Dense,Dropout, Activation, Lambda
from keras.models import Model, Sequential
from keras.optimizers import Adam,SGD
from keras.callbacks import TensorBoard

In [94]:
model = Sequential()
#model.add(Lambda(lambda x: x , input_shape = (24)))
#model.add(Lambda(lambda x: x+0.1 , input_shape = (64,64,3)))
#model.add(Flatten())
#model.add(BatchNormalization(input_shape=(313,)))
model.add(Dense(1000,input_shape=(313,)))
model.add(Activation('elu'))


model.add(Dropout(0.2))
#model.add(BatchNormalization())
model.add(Dense(500))
model.add(Activation('elu'))
model.add(Dropout(0.2))
#model.add(BatchNormalization())
model.add(Dense(50))
model.add(Activation('elu'))

model.add(Dense(1))
model.add(Activation('linear'))
model.compile(optimizer = 'Adam' , loss = 'mse', metrics=['accuracy'])

In [95]:
model.fit(X_train, y_train, epochs=50, verbose =1, validation_data=(X_test, y_test), batch_size =64)

Train on 971 samples, validate on 52 samples
Epoch 1/50
971/971 [==============================] - 1s 1ms/step - loss: 2.1382 - acc: 0.2626 - val_loss: 1.0493 - val_acc: 0.4231
Epoch 2/50
971/971 [==============================] - 0s 175us/step - loss: 1.3254 - acc: 0.2678 - val_loss: 1.0127 - val_acc: 0.3462
Epoch 3/50
971/971 [==============================] - 0s 178us/step - loss: 1.2199 - acc: 0.2832 - val_loss: 1.1989 - val_acc: 0.3654
Epoch 4/50
971/971 [==============================] - 0s 178us/step - loss: 1.1823 - acc: 0.2842 - val_loss: 1.1394 - val_acc: 0.3077
Epoch 5/50
971/971 [==============================] - 0s 182us/step - loss: 1.1333 - acc: 0.3110 - val_loss: 1.1105 - val_acc: 0.4231
Epoch 6/50
971/971 [==============================] - 0s 180us/step - loss: 1.0016 - acc: 0.3326 - val_loss: 1.1400 - val_acc: 0.3846
Epoch 7/50
971/971 [==============================] - 0s 180us/step - loss: 1.0035 - acc: 0.3450 - val_loss: 1.1566 - val_acc: 0.3077
Epoch 8/50
971/971 [==============================] - 0s 173us/step - loss: 0.9417 - acc: 0.3563 - val_loss: 1.3113 - val_acc: 0.3654
Epoch 9/50
971/971 [==============================] - 0s 177us/step - loss: 0.9248 - acc: 0.3615 - val_loss: 1.1662 - val_acc: 0.3462
Epoch 10/50
971/971 [==============================] - 0s 182us/step - loss: 0.8436 - acc: 0.3769 - val_loss: 1.1977 - val_acc: 0.3846
Epoch 11/50
971/971 [==============================] - 0s 181us/step - loss: 0.8467 - acc: 0.3811 - val_loss: 1.1936 - val_acc: 0.3077
Epoch 12/50
971/971 [==============================] - 0s 180us/step - loss: 0.7956 - acc: 0.4027 - val_loss: 1.3292 - val_acc: 0.3654
Epoch 13/50
971/971 [==============================] - 0s 183us/step - loss: 0.7590 - acc: 0.4140 - val_loss: 1.1687 - val_acc: 0.3077
Epoch 14/50
971/971 [==============================] - 0s 179us/step - loss: 0.7304 - acc: 0.4336 - val_loss: 1.2425 - val_acc: 0.3077
Epoch 15/50
971/971 [==============================] - 0s 176us/step - loss: 0.6559 - acc: 0.4346 - val_loss: 1.2874 - val_acc: 0.3077
Epoch 16/50
971/971 [==============================] - 0s 179us/step - loss: 0.6122 - acc: 0.4634 - val_loss: 1.3082 - val_acc: 0.3077
Epoch 17/50
971/971 [==============================] - 0s 182us/step - loss: 0.5674 - acc: 0.4902 - val_loss: 1.3496 - val_acc: 0.3269
Epoch 18/50
971/971 [==============================] - 0s 184us/step - loss: 0.5393 - acc: 0.5108 - val_loss: 1.4657 - val_acc: 0.3077
Epoch 19/50
971/971 [==============================] - 0s 182us/step - loss: 0.4957 - acc: 0.5602 - val_loss: 1.5482 - val_acc: 0.2885
Epoch 20/50
971/971 [==============================] - 0s 182us/step - loss: 0.5000 - acc: 0.5355 - val_loss: 1.7573 - val_acc: 0.3077
Epoch 21/50
971/971 [==============================] - 0s 181us/step - loss: 0.4540 - acc: 0.5530 - val_loss: 1.5020 - val_acc: 0.3269
Epoch 22/50
971/971 [==============================] - 0s 180us/step - loss: 0.4276 - acc: 0.5994 - val_loss: 1.5337 - val_acc: 0.2692
Epoch 23/50
971/971 [==============================] - 0s 182us/step - loss: 0.3692 - acc: 0.6169 - val_loss: 1.6421 - val_acc: 0.2692
Epoch 24/50
971/971 [==============================] - 0s 181us/step - loss: 0.3568 - acc: 0.6437 - val_loss: 1.6394 - val_acc: 0.2885
Epoch 25/50
971/971 [==============================] - 0s 175us/step - loss: 0.3510 - acc: 0.6498 - val_loss: 1.6968 - val_acc: 0.3269
Epoch 26/50
971/971 [==============================] - 0s 185us/step - loss: 0.3612 - acc: 0.6437 - val_loss: 1.5600 - val_acc: 0.2885
Epoch 27/50
971/971 [==============================] - 0s 181us/step - loss: 0.3306 - acc: 0.6643 - val_loss: 1.6904 - val_acc: 0.2692
Epoch 28/50
971/971 [==============================] - 0s 184us/step - loss: 0.3298 - acc: 0.6560 - val_loss: 1.7021 - val_acc: 0.2885
Epoch 29/50
971/971 [==============================] - 0s 192us/step - loss: 0.3162 - acc: 0.6612 - val_loss: 1.6619 - val_acc: 0.2692
Epoch 30/50
971/971 [==============================] - 0s 186us/step - loss: 0.2823 - acc: 0.6849 - val_loss: 1.6790 - val_acc: 0.3462
Epoch 31/50
971/971 [==============================] - 0s 179us/step - loss: 0.3130 - acc: 0.6756 - val_loss: 1.8271 - val_acc: 0.2308
Epoch 32/50
971/971 [==============================] - 0s 174us/step - loss: 0.3097 - acc: 0.6694 - val_loss: 1.6380 - val_acc: 0.3462
Epoch 33/50
971/971 [==============================] - 0s 176us/step - loss: 0.2787 - acc: 0.6849 - val_loss: 1.6160 - val_acc: 0.2692
Epoch 34/50
971/971 [==============================] - 0s 182us/step - loss: 0.2414 - acc: 0.7364 - val_loss: 1.7388 - val_acc: 0.2885
Epoch 35/50
971/971 [==============================] - 0s 180us/step - loss: 0.2612 - acc: 0.7188 - val_loss: 1.7042 - val_acc: 0.2692
Epoch 36/50
971/971 [==============================] - 0s 174us/step - loss: 0.2417 - acc: 0.7353 - val_loss: 1.7121 - val_acc: 0.3269
Epoch 37/50
971/971 [==============================] - 0s 178us/step - loss: 0.2404 - acc: 0.7219 - val_loss: 1.7757 - val_acc: 0.2885
Epoch 38/50
971/971 [==============================] - 0s 180us/step - loss: 0.2434 - acc: 0.7364 - val_loss: 1.6319 - val_acc: 0.2692
Epoch 39/50
971/971 [==============================] - 0s 200us/step - loss: 0.2596 - acc: 0.7096 - val_loss: 1.6238 - val_acc: 0.3077
Epoch 40/50
971/971 [==============================] - 0s 189us/step - loss: 0.2409 - acc: 0.7230 - val_loss: 1.6932 - val_acc: 0.2885
Epoch 41/50
971/971 [==============================] - 0s 196us/step - loss: 0.2222 - acc: 0.7611 - val_loss: 1.6791 - val_acc: 0.2115
Epoch 42/50
971/971 [==============================] - 0s 187us/step - loss: 0.2279 - acc: 0.7364 - val_loss: 1.6640 - val_acc: 0.2692
Epoch 43/50
971/971 [==============================] - ETA: 0s - loss: 0.2170 - acc: 0.7443- ETA: 0s - loss: 0.2207 - acc: 0.74 - 0s 184us/step - loss: 0.2137 - acc: 0.7456 - val_loss: 1.7027 - val_acc: 0.2115
Epoch 44/50
971/971 [==============================] - 0s 188us/step - loss: 0.2123 - acc: 0.7600 - val_loss: 1.7169 - val_acc: 0.2885
Epoch 45/50
971/971 [==============================] - 0s 200us/step - loss: 0.2137 - acc: 0.7775 - val_loss: 1.8264 - val_acc: 0.2115
Epoch 46/50
971/971 [==============================] - 0s 204us/step - loss: 0.2222 - acc: 0.7642 - val_loss: 1.6532 - val_acc: 0.2692
Epoch 47/50
971/971 [==============================] - 0s 194us/step - loss: 0.1997 - acc: 0.7765 - val_loss: 1.7605 - val_acc: 0.2500
Epoch 48/50
971/971 [==============================] - 0s 192us/step - loss: 0.2027 - acc: 0.7806 - val_loss: 1.7598 - val_acc: 0.3462
Epoch 49/50
971/971 [==============================] - 0s 186us/step - loss: 0.2033 - acc: 0.7786 - val_loss: 1.8688 - val_acc: 0.2308
Epoch 50/50
971/971 [==============================] - 0s 186us/step - loss: 0.2336 - acc: 0.7425 - val_loss: 1.9453 - val_acc: 0.2308